<!DOCTYPE html>
<html ng-app="myAppModule">
  <head>
    <title>Elastic Search Sample</title>
    
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- elastic search js -->
	<script src="lib/elasticsearch-js/elasticsearch.angular.min.js"></script>
	<script src="lib/elastic-js/elastic.min.js"></script>
		
	<style>
	pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
	.string { color: green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: red; }
	</style>
  </head>
  <body>
    <div ng-controller="myAppController">

	   <form class="form-inline" role="form">
		  <div class="form-group">
			<label for="email">Enter Keyword:</label>
			<input type="text" class="form-control" ng-model="keyword"/>
		  </div>
		  <button ng-click="searchPoi()" class="btn btn-default">Submit</button>
		</form>

	 
	  <table class="table table-hover" ng-show="pois.length > 0">
		<thead>
		  <tr>
			<th>name</th>
			<th>Street</th>
			<th>City</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="poi in pois">
			<td>{{poi._source.name }}</td>
			<td>{{poi._source.street }}</td>
			<td>{{poi._source.city }} </td>
		  </tr>		  
		</tbody>
	  </table>

	  <pre id="display" ng-show="pois.length > 0"></pre>

	</div>
	
    <script type="text/javascript">
	
	//create a new module & inject elasticsearch module
    var myAppModule = angular.module('myAppModule', ['elasticsearch']);
	
	//create a controller & define searchService dependency
    myAppModule.controller('myAppController', function($scope,searchService) {
		  
		  //init some vars
		  
		  $scope.searchResult = "please enter a keyword..";		  
		  $scope.searchPoi = function() {
		  
			$scope.searchResult = searchService.search($scope.keyword, 0)			
				.then(function(results){
				
					$scope.pois = [];					
					
					//print json
					var str = JSON.stringify(results, undefined, 4);
					output(syntaxHighlight(str));
					
                    var ii = 0;
					
					//loop though result
                    for(;ii < results.length; ii++){
                        
						//print in web console for debugging purpose
						console.log(results[ii]._source);
						
						//add into pois array
                        $scope.pois.push(results[ii]);
                    }                   
                });
		  };
		  
		  


	});
	  
	// Service 	 
	myAppModule.factory('searchService', ['$q', 'esFactory', function($q, elasticsearch){
	  
		//elastic search index & type name	
		var ES_INDEX = 'geocoding';
        var ES_TYPE = 'listing';

		//initiate the search client with the elastic host url
        var client = elasticsearch({
            host: "http://58.27.84.226:9200" //internet
			//host: "http://10.45.96.25:9200" //intranet
        });
		
		 /**
		 * Given a term and an offset, load another round of 10 pois.
		 *
		 * Returns a promise.
		 */
        var search = function(term, offset){
		
			console.log('search:'+ term);
			
            var deferred = $q.defer();
            client.search({
                index: ES_INDEX,
                type: ES_TYPE,
                body: ejs.Request()
                    .size(10)
                    .from(offset)
                    .query(ejs.MatchQuery('_all', term))

            }).then(function(result) {
                var ii = 0, hits_in, hits_out = [];
                hits_in = (result.hits || {}).hits || [];
                for(;ii < hits_in.length; ii++){
				
					console.log(hits_in[ii]);
                    hits_out.push(hits_in[ii]);
                }
                deferred.resolve(hits_out);
            }, deferred.reject);

            return deferred.promise;
        };
		
		return {
            "search": search
        };

		
	}]);

	  
	 function syntaxHighlight(json) {
		if (typeof json != 'string') {
			 json = JSON.stringify(json, undefined, 2);
		}
		json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
		return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
			var cls = 'number';
			if (/^"/.test(match)) {
				if (/:$/.test(match)) {
					cls = 'key';
				} else {
					cls = 'string';
				}
			} else if (/true|false/.test(match)) {
				cls = 'boolean';
			} else if (/null/.test(match)) {
				cls = 'null';
			}
			return '<span class="' + cls + '">' + match + '</span>';
		});
	}
	
	function output(inp) {		
		document.getElementById('display').innerHTML = inp;
	}
 
    </script>
  
  </body>
</html>

